:host {
  display: contents;

  & ._container_1s4r7_4 {
    all: inherit;
    display: flex;
    position: relative;
    box-sizing: border-box;
    background-color: var(--background-color);
    overflow: auto;
    color: var(--foreground-color);
  }
}

._container_1s4r7_4 {
  --min-height: calc(var(--line-count) * var(--char-height));
  --min-width: calc(var(--line-size) * 1ch);
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: var(--background-color);
  overflow: auto;
  color: var(--foreground-color);
  font-size: 13px;

  & ._code_1s4r7_26 {
    display: block;
    position: absolute;
    z-index: 1;
    /* fixes color change when textarea is focused */
    backface-visibility: hidden;
    contain: layout;
    pointer-events: none;
    font-size: inherit;
    line-height: inherit;
    font-family: monospace;
    white-space: pre;

    & ._line_1s4r7_39 {
      position: absolute;
      top: calc(var(--line-number) * var(--char-height));
      margin: 0px;

      & span {
        margin: 0px;
        background: transparent !important;
      }
    }
  }

  & ._character_1s4r7_51 {
    position: absolute;
    align-self: start;
    visibility: hidden;
    pointer-events: none;
    font-size: inherit;
    line-height: inherit;
  }

  & ._textarea_1s4r7_60 {
    transition: color 0.5s;
    outline: none;
    border: none;
    background: transparent;
    padding: 0px;
    width: 100%;
    min-width: var(--min-width);
    height: 100%;
    min-height: var(--min-height);
    overflow: hidden;
    resize: none;
    color: transparent;
    caret-color: var(--foreground-color);
    font-size: inherit;
    line-height: inherit;
    font-family: monospace;
    text-align: inherit;
    white-space: pre;
  }

  & ._textarea_1s4r7_60::selection {
    background: var(--selection-color);
  }
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mono-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --background-color: #282c34;
  margin: 0;
  overscroll-behavior: none;
}

code {
  font-family: var(--mono-font);
}

.app {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
  color: white;
}

.side-panel {
  display: flex;
  flex: 0 250px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;

  & * {
    font-family: var(--mono-font);
  }
}

h1 {
  margin: 0px;
  font-size: 12pt;
}

footer {
  display: flex;
  bottom: 0px;
  left: 0px;
  flex-direction: column;
  align-self: flex-end;
  gap: 5px;
  z-index: 5;
  box-sizing: border-box;
  font-size: 10pt;
  font-family: var(--mono-font);

  & > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 5px;

    & > label {
      flex: 1;
    }
    & > :not(label) {
      flex: 1.5;
    }
  }
}

select,
button,
input {
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  background-color: var(--background-color);
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 0px;
  color: white;
  font-family: var(--mono-font);
}

main {
  position: relative;
  flex: 1;
  gap: 15px 30px;
  z-index: 1;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
}

.tm-textarea {
  max-height: 100%;
}

.line-numbers,
.line-numbers::part(root) {
  --line-number-width: calc((var(--line-digits) + 1) * 1ch);
}

.line-numbers pre::before,
.line-numbers::part(line)::before {
  display: inline-block;
  opacity: 0.5;
  counter-reset: variable calc(var(--line-number) + 1);
  min-width: var(--line-number-width);
  content: counter(variable);
  color: var(--foreground-color);
}

.line-numbers textarea,
.line-numbers::part(textarea) {
  margin-left: var(--line-number-width);
}
